[submodule "pcb/libs/keyswitches.pretty"]
	path = pcb/libs/keyswitches.pretty
	url = https://github.com/daprice/keyswitches.pretty.git
[submodule "pcb/libs/kbd"]
	path = pcb/libs/kbd
	url = https://github.com/foostan/kbd
[submodule "pcb/libs/keebio-components"]
	path = pcb/libs/keebio-components
	url = https://github.com/keebio/keebio-components.git
[submodule "pcb/libs/Keebio-Parts.pretty"]
	path = pcb/libs/Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty
[submodule "firmware/libs/kmk_firmware"]
	path = firmware/libs/kmk_firmware
	url = https://github.com/KMKfw/kmk_firmware.git
